<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${assignments} and ${assignments.size()}">no assignments :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Deadline</th>
    </tr>

    <tr th:each="assignment : ${assignments}">
        <td th:text="${assignment.name}"></td>
        <td th:text="${assignment.description}"></td>
        <td th:text="${assignment.deadline}"></td>
    </tr>

</table>

</body>
</html>